@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --foreground: #171717;
  --KoCGrey: #c6c6c6;
  --KoCBlue: #112866;
  --KoCYellow: #f7b718;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: #112866;
}
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  transform: translateX(50%); /* adjust % until it feels right */
}
.koc-card {
  background-color: #112866 !important;
  color: white !important;
}


.navbar .nav-link {
  color: #ffffff !important;
  font-weight: 700; /* bold */
  margin: 0 0.75rem; /* Space in between links */
  font-size: 1.1em;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #f8f9fa !important; /* still white-ish, no dull grey */
}
